// Light Theme Variables
$light-theme-bg: #f9f7f5;
$light-theme-text: #444;
$light-theme-header-bg: #f9f7f5;
$light-theme-header-text: #35495e;
$light-theme-link: #39a275;
$light-theme-button-bg: #39a275;
$light-theme-button-text: #ffffff;

// Dark Theme Variables
$dark-theme-bg: #1e1e1e;
$dark-theme-text: #f9f9f9;
$dark-theme-header-bg: #333;
$dark-theme-header-text: #ffffff;
$dark-theme-link: #39a275;
$dark-theme-button-bg: #39a275;
$dark-theme-button-text: #ffffff;

:root {
  --body-bg: #{$light-theme-bg};
  --text-color: #{$light-theme-text};
  --header-bg: #{$light-theme-header-bg};
  --header-text-color: #{$light-theme-header-text};
  --link-color: #{$light-theme-link};
  --button-bg: #{$light-theme-button-bg};
  --button-text-color: #{$light-theme-button-text};
}

/* Apply dark theme styles when appropriate */
[data-theme="dark"] {
  --body-bg: #{$dark-theme-bg};
  --text-color: #{$dark-theme-text};
  --header-bg: #{$dark-theme-header-bg};
  --header-text-color: #{$dark-theme-header-text};
  --link-color: #{$dark-theme-link};
  --button-bg: #{$dark-theme-button-bg};
  --button-text-color: #{$dark-theme-button-text};
}
